:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width: 260px;
     background: #3c68aa;
}
mat-drawer-container{
    height: 100%;
}
.main-body {
    padding-left: 108px;
    background-color: #E9EFF3;
  }
